Чуть не забыли, никакой анализ данных не обходится без агрегации наблюдений. Напомню, в pandas с этим нам поможет связка  groupby + некоторое преобразование. Например:

#число наблюдений в каждой группе
df.groupby('group_var').count()
Для того, что бы сгруппировать данные по нескольким переменным, используем список с нужными именами:

df.groupby(['group_var_1', 'group_var_2']).count()
Обратите внимание, что при такой записи группирующие переменные станут индексами в итоговом dataframe, изучите справку по groupby, чтобы разобраться со всеми тонкостями группировки данных. Также функция count() применится ко всем колонкам, что не всегда является желанным результатом. Чтобы применить функцию только к нужной колонке в данных, можно использовать связку  groupby() + agg()

my_stat.groupby('group').agg({'n_users': 'count'})
В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.

Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [1]:
import pandas as pd
import numpy as np

In [4]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')

In [30]:
mean_session_value_data = my_stat.groupby('group', as_index = False)\
.agg({'session_value': 'mean'}).rename(columns={'session_value': 'mean_session_value'})
mean_session_value_data

  group  mean_session_value
0     A                 0.8
1     B                 0.8

In [9]:
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B        5
9            0.0     9     A        5

In [6]:
my_stat['session_value'].fillna(0, inplace = True)

In [8]:
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = my_stat.loc[my_stat['n_users'] >= 0, 'n_users'].median()

In [8]:
my_stat.n_users

0     9
1    -1
2     1
3     3
4     9
5     8
6     5
7     4
8   -11
9   -20
Name: n_users, dtype: int64

In [9]:
df = my_stat.loc[my_stat['n_users'] > 0, 'n_users']
df

0    9
2    1
3    3
4    9
5    8
6    5
7    4
Name: n_users, dtype: int64

In [10]:
df.median()

5.0

In [12]:
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = median(df)

In [10]:
my_stat.isna().sum()

session_value    0
time             0
group            0
n_users          0
dtype: int64

In [18]:
subset_1 = my_stat.query("n_users < 0")
subset_1

Empty DataFrame
Columns: [session_value, group, time, n_users]
Index: []

In [33]:
my_stat.describe()

       session_value       group     n_users
count     500.000000  500.000000  500.000000
mean        0.096000   10.042000   29.094000
std         1.618649    1.105749  133.493859
min        -6.000000    5.000000    0.000000
25%        -1.000000    9.000000    1.000000
50%         0.000000   10.000000    1.000000
75%         1.000000   11.000000    2.000000
max         7.000000   13.000000  666.000000

In [4]:
my_stat.shape

(500, 4)

In [14]:
my_stat

   session_value  time group  n_users
0            0.0    12     B      9.0
1            0.0    11     A      3.5
2            1.0     8     A      1.0
3            2.0     9     B      3.0
4            2.0    10     B      9.0
5            3.0     8     A      8.0
6            0.0    11     B      5.0
7            0.0     9     A      4.0
8            0.0     8     B      3.5
9            0.0     9     A      3.5